<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>新闻</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/materialize.min.css') }}" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection">
</head>

<body class="grey lighten-5">
    <nav class="teal">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">新闻</a>
                <ul class="right hide-on-med-and-down">
                    <li id="category-life"><a href="{{ url_for('home.index') }}?category=生活">生活</a></li>
                    <li {% if category == '科技' %}class="active"{% endif %}><a href="{{ url_for('home.index') }}?category=科技">科技</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <!--  Scripts-->
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="{{ url_for( 'static', filename='js/materialize.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/init.js') }}"></script>
    {% block extra_js %}
    <script>
        $(document).ready(function () {
            $('#category-life').click(function () {
                $(this).addClass('active')
            })
        })
    </script>
    {% endblock %}
</body>

</html>