{% extends 'home/base.html' %} 

{% block content %}
    <div class="row">
        {% for new in news %}
            <div class="col s12 m4">
                <div class="card small">
                    <div class="card-image">
                        <!-- <img src="{{ url_for('static', filename='images/1985132319.png') }}"> -->
                        <span class="card-title">{{ new.title }}</span>
                    </div>
                    <div class="card-content">
                        <p>{{ new.content }}</p>
                    </div>
                    <div class="card-action">
                        <a href="#" class="teal-text" title="评论"><i class="material-icons">comment</i></span></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}