{% extends 'admin/base.html' %}

{% block extra_head %}
    {{ simplemde.css }}
    {{ simplemde.js }}
{% endblock %}

{% block content %}
    <div class="card-panel">
        <form method="POST" enctype="multipart/form-data">
            {{ news_form.csrf_token }}
            <div class="input-field">
                {{ news_form.title(class='validate') }}
                {{ news_form.title.label }}
            </div>
            <div class="input-field">
                {{ news_form.content() }}
                {{ simplemde.load }}
            </div>
            <div class="input-field">
                {{ news_form.category() }}
                {{ news_form.category.label }}
            </div>
            <div class="file-field input-field">
                <div class="btn">
                  <span>图片</span>
                  {{ news_form.photo() }}
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
            </div>
            <p>
                {{ news_form.is_valid() }}
                {{ news_form.is_valid.label }}
            </p>
            {{ news_form.submit(class='btn waves-effect waves-light') }}
        </form>
    </div>
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function() {
        $('select').material_select()
    })
</script>
{% endblock %}