{% extends 'admin/base.html' %}

{% block content %}
    <div class="card-panel">
        <form method="POST">
            {{ new_form.csrf_token }}
            <div class="input-field">
                {{ new_form.title(class='validate') }}
                {{ new_form.title.label }}
            </div>
            <div class="input-field">
                {{ new_form.content(class='validate') }}
                {{ new_form.content.label }}
            </div>
            <div class="input-field">
                {{ new_form.timestamp(class='validate') }}
                {{ new_form.timestamp.label }}
            </div>
            <span>
                {{ new_form.category.label }}
                {{ new_form.category(class="browser-default") }}
            </span>
            <p>
                {{ new_form.is_valid() }}
                {{ new_form.is_valid.label }}
            </p>
            {{ new_form.submit(class='btn waves-effect waves-light') }}
        </form>
    </div>
{% endblock %}