{% extends 'admin/base.html' %}

{% block content %}
    <div class="card-panel">
        <form method="POST">
            {{ news_from.csrf_token }}
            <div class="input-field">
                {{ news_from.title(class='validate') }}
                {{ news_from.title.label }}
            </div>
            <div class="input-field">
                {{ news_from.content(class='validate') }}
                {{ news_from.content.label }}
            </div>
            <div class="input-field">
                {{ news_from.timestamp(class='validate') }}
                {{ news_from.timestamp.label }}
            </div>
            <span>
                {{ news_from.category.label }}
                {{ news_from.category(class="browser-default") }}
            </span>
            <p>
                {{ news_from.is_valid() }}
                {{ news_from.is_valid.label }}
            </p>
            {{ news_from.submit(class='btn waves-effect waves-light') }}
        </form>
    </div>
{% endblock %}