<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>编辑新闻</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/materialize.min.css') }}" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection">
</head>

<body class="grey lighten-5">
    <div class="container">
        <div class="card-panel">
            <form method="POST">
                {{ new_form.csrf_token }}
                <div class="input-field">
                    {{ new_form.title(class='validate') }}
                    {{ new_form.title.label }}
                </div>
                <div class="input-field">
                    {{ new_form.content(class='validate') }}
                    {{ new_form.content.label }}
                </div>
                <div class="input-field">
                        {{ new_form.add_time(class='validate') }}
                        {{ new_form.add_time.label }}
                </div>
                <span>
                    {{ new_form.type_id.label }}
                    {{ new_form.type_id(class="browser-default") }}
                </span>
                <p>
                    {{ new_form.is_valid() }}
                    {{ new_form.is_valid.label }}
                </p>
                {{ new_form.submit(class='btn waves-effect waves-light') }}
            </form>
        </div>
    </div>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{{ url_for( 'static', filename='js/materialize.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/init.js') }}"></script>
</body>

</html>